rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function signedIn() { return request.auth != null; }

    match /quizzes/{quizId} {
      allow read: if signedIn();
      allow create: if signedIn() && request.resource.data.ownerUid == request.auth.uid;
      allow update, delete: if signedIn() && resource.data.ownerUid == request.auth.uid;

      match /questions/{qid} {
        allow read: if signedIn();
        allow write: if signedIn() &&
          get(/databases/$(database)/documents/quizzes/$(quizId)).data.ownerUid == request.auth.uid;
      }
    }

    match /sessions/{sessionId} {
      allow create: if signedIn() && request.resource.data.userUid == request.auth.uid;
      allow read:   if signedIn() && resource.data.userUid == request.auth.uid;
      allow update: if signedIn() && resource.data.userUid == request.auth.uid;
    }
  }
}
